*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f5f7;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  width: 100%;
}

.header {
  height: auto;
}

.header-container {
  height: 92px;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  position: fixed;
  background-color: white;
}

.status-bar {
  height: 44px;
}

.topbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
  list-style: none;
}

.app-bar {
  height: 48px;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

.logo {
  font-size: 20px;
  font-weight: 600;
  color: #6070ff;
}

a.logo {
  text-decoration-line: none;
}

.fa-bars {
  font-size: 1.5em;
  color: #6070ff;
  padding-right: 4px;
}

.nav-items {
  visibility: ;
}

.desktop {
  display: ;
}

.desktop_container {
  visibility: ;
}

.hero-section {
  background-image: url("./images/header-shapes\ mobile.png");
  background-repeat: no-repeat;
  background-color: #fff;
  background-size: contain;
  background-position: right;
  padding-top: 70px;
  height: 750px;
  border-bottom-left-radius: 120px;
}

.hero-container {
  margin: 0 auto;
  padding: 20px;
}

h1 {
  padding-top: 90px;
  font-size: 46px;
  margin-top: 12px;
  line-height: 52px;
  color: #344563;
}

p {
  margin: 10px 0;
  line-height: 24px;
}

.connect {
  font-size: 20px;
  font-weight: 400;
  padding-top: 12px;
  text-decoration: none;
  margin-right: 10px;
  color: #7f8cff;
}

.connect:hover {
  color: #172b4d;
  opacity: 0.5;
}

.social-media {
  margin: 0;
  padding-top: 10px;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  list-style: none;
  font-size: 20px;
}

/* cards */
.work-section {
  padding: 20px;
  margin: 0 auto;
}

.work-container {
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 20px;
  align-items: center;
  border-radius: 20px;
  margin: 40px auto;
  border: 1px solid #e6e8eb;
}

.card {
  flex: 1;
  padding: 20px;
  align-items: center;
  margin: 0 auto;
}

.left-block {
  flex: 2;
  padding: 20px;
  align-items: center;
}

.work-container-desk {
  display: none;
}

.left-block h2 {
  font-size: 38px;
  line-height: 44px;
}

.position {
  display: flex;
  margin-top: 10px;
  gap: 15px;
}

.position li {
  font-weight: 590;
  font-size: 11.5px;
  color: #7a869a;
  list-style: none;
}

.languages i {
  padding-right: 35px;
}

.position li i {
  color: #7a869a;
  font-size: 10px;
}

.programming-lang li {
  flex-wrap: wrap;
  margin-bottom: 10px;
  list-style: none;
}

.frames li {
  color: #000;
  list-style: none;
  font-size: 13px;
  font-weight: 500px;
  line-height: 24px;
}

.language-list li {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-top: 20px;
  background-color: #f7f7f9;
  margin-top: 20px;
  border-radius: 8px;
  padding-left: 15px;
  padding-bottom: 30px;
}

.form li {
  margin-top: 1.3rem;
  list-style: none;
  border-radius: 5px;
}

.programming-lang ul li {
  padding-right: 10px;
}

.position li:first-child {
  color: #344563;
  list-style: none;
}

.programming-lang {
  display: flex;
}

.programming-lang li a {
  padding: 5px 10px;
  margin-right: 10px;
  background: #ebebff;
  font-weight: 500;
  font-size: 12px;
  color: #6070ff;
  border-radius: 8px;
  text-decoration: none;
}

.work-container p {
  font-weight: 400;
  font-size: 15px;
  color: #344563;
}

.btn-action {
  border: 1px solid #6070ff;
  border-radius: 8px;
  width: 126px;
  height: 48px;
  background: #fff;
  font-weight: 500;
  font-size: 17px;
  margin-top: 10px;
  color: #396df2;
}

.btn-action:active {
  background-color: #2230d2;
  color: #fff;
}

.btn-action:hover {
  background-color: #6070ff;
  color: #fff;
}

.about-myself {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 50px;
  padding: 20px;
  padding-top: 40px;
  background-color: #fff;
  height: 1150px;
  border-top-right-radius: 120px;
}

.about-container {
  flex: 1;
  margin-top: 70px;
}

. .about-myself h2 {
  padding-top: 600px;
  font-weight: 700px;
  font-size: 80px;
  height: 24px;
  color: #172b4d;
}

.about-myself p {
  color: #344563;
  font-size: 15px;
  font-weight: 400;
}

.about-me-desktop {
  display: none;
}

.skill-container {
  flex: 2;
  margin-top: 20px;
  padding-top: 40px;
}

.language-list {
  margin-top: 30px;
}

.languages {
  display: flex;
  justify-content: space-between;
}

.languages h2 {
  color: #253858;
  height: 24px;
  top: 24px;
  left: 12px;
}

.languages h2 i {
  color: #253858;
  height: 24px;
  padding-top: 8px;
  padding-bottom: 8px;

  padding-left: 5px;
  padding-right: 5px;
  gap: 2px;
}

.language-list li h2 {
  color: #253858;
  font-size: 21px;
  font-weight: 600;
}

.frames {
  margin-top: 10px;
}

.frames li span {
  color: #253858;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  font-size: 15px;
  gap: 10px;
  justify-content: space-between;
}

.frames li i {
  padding-right: 35px;
}

.footer_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 800px;
  background-color: #6070ff;
  background-image: url(./images/contact\ form\ shapes-mobile.svg);
  background-repeat: no-repeat;
  margin-top: 300px;
  background-size: contain;
  background-position: right;
  border-top-left-radius: 120px;
}

.footer_container {
  padding: 20px;
  padding-top: 200px;
}

.footer_header {
  margin-top: -4rem;
  color: #fff;
  margin-left: 12%;
}

.footer_section p {
  justify-content: center;
  color: #fff;
  font-weight: 20px;
  margin-left: 5%;
  width: 80%;
}

.form {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  margin-top: 30px;
}

.input-text {
  box-sizing: border-box;
  font-weight: 400;
  color: rgba(23, 43, 77, 1);
  border-radius: 8px;
  width: 100%;
  padding: 8px 12px;
  height: 48px;
  outline: none;
  font-size: 17px;
  line-height: 20px;
  background: #fff;
  border: 1px solid #cfd8dc;
}

.message {
  height: 170px;
  width: 100%;
  padding-bottom: 7rem;
  padding-left: 0.6rem;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  border-radius: 8px;
  outline: none;
  border: 1px solid #cfd8dc;
  margin-bottom: 0.6rem;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 20px;
    line-height: 28px;
  }

  .header-container {
    height: 92px;
    padding-left: 5%;
    padding-right: 5%;
    position: fixed;
    background-color: white;
  }

  .status-bar {
    height: 44px;
  }

  .topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    list-style: none;
  }

  .app-bar {
    height: 48px;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
  }

  .logo {
    font-size: 20px;
    font-weight: 600;
    color: #6070ff;
  }

  a.logo {
    text-decoration-line: none;
  }

  .nav-items {
    visibility: ;
  }

  .desktop {
    display: ;
  }

  .desktop_container {
    visibility: ;
  }

  .hero-section {
    background-image: url("./images/header-shapes\ mobile.png");
    background-repeat: no-repeat;
    background-color: #fff;
    background-size: contain;
    background-position: right;
    padding-top: 70px;
    height: 750px;
    border-bottom-left-radius: 120px;
  }

  .hero-container {
    margin: 0 auto;
    padding: 50px;
  }

  h1 {
    font-size: 50px;
    line-height: 52px;
    color: #344563;
    padding-left: 54px;
  }

  p {
    padding: 50px;
    line-height: 24px;
    padding-top: 5px;
  }

  .connect {
    font-size: 20px;
    font-weight: 40px;
    padding-top: 3px;
    text-decoration: none;
    margin-right: 10px;
    color: #7f8cff;
    padding-left: 50px;
  }

  .connect:hover {
    color: #172b4d;
    opacity: 0.5;
  }

  .social-media {
    margin: 0;
    padding-top: 10px;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    list-style: none;
    font-size: 20px;
    padding-left: 50px;
  }

  /* cards */
  .work-section {
    padding: 20px;
    margin: 0 auto;
    padding-left: 70px;
    padding-right: 70px;
  }

  .work-container {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 50px;
    align-items: center;
    border-radius: 20px;
    margin: 50px auto;
    border: 1px solid #e6e8eb;
  }

  .card {
    flex: 1;
    padding: 20px;
    align-items: center;
    margin: 0 auto;
    width: 100%;
  }

  .left-block {
    height: 33vw;
    width: 50%;
    flex: 2;
    padding: 20px;
    align-items: center;
    margin: 0 auto;
  }

  .left-block h2 {
    font-size: 38px;
    line-height: 44px;
  }

  .position {
    display: flex;
    margin-top: 10px;
    gap: 15px;
  }

  .position li {
    font-weight: 590;
    font-size: 11.5px;
    color: #7a869a;
    list-style: none;
  }

  .languages i {
    padding-right: 35px;
  }

  .position li i {
    color: #7a869a;
    font-size: 10px;
  }

  .programming-lang li {
    flex-wrap: wrap;
    margin-bottom: 10px;
    list-style: none;
  }

  .frames li {
    color: #000;
    list-style: none;
    font-size: 13px;
    font-weight: 500px;
    line-height: 24px;
  }

  .language-list li {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-top: 20px;
    background-color: #f7f7f9;
    margin-top: 20px;
    border-radius: 8px;
    padding-left: 15px;
    padding-bottom: 30px;
  }

  .form li {
    margin-top: 1.3rem;
    list-style: none;
    border-radius: 5px;
  }

  .programming-lang ul li {
    padding-right: 10px;
  }

  .position li:first-child {
    color: #344563;
    list-style: none;
  }

  .programming-lang {
    display: flex;
  }

  .programming-lang li a {
    padding: 5px 10px;
    margin-right: 10px;
    background: #ebebff;
    font-weight: 500;
    font-size: 12px;
    color: #6070ff;
    border-radius: 8px;
    text-decoration: none;
  }

  .work-container p {
    font-weight: 400;
    font-size: 15px;
    color: #344563;
  }

  .btn-action {
    border: 1px solid #6070ff;
    border-radius: 8px;
    width: 126px;
    height: 48px;
    background: #fff;
    font-weight: 500;
    font-size: 17px;
    margin-top: 10px;
    color: #396df2;
  }

  .btn-action:active {
    background-color: #2230d2;
    color: #fff;
  }

  .btn-action:hover {
    background-color: #6070ff;
    color: #fff;
  }

  .about-myself {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
    padding: 20px;
    padding-top: 40px;
    background-color: #fff;
    height: 1150px;
    border-top-right-radius: 120px;
  }

  .about-container {
    flex: 1;
    margin-top: 70px;
  }

  . .about-myself h2 {
    padding-top: 600px;
    font-weight: 700px;
    font-size: 80px;
    height: 24px;
    color: #172b4d;
  }

  .about-myself p {
    color: #344563;
    font-size: 15px;
    font-weight: 400;
  }

  .about-me-desktop {
    display: none;
  }

  .skill-container {
    flex: 2;
    margin-top: 20px;
    padding-top: 40px;
  }

  .language-list {
    margin-top: 30px;
  }

  .languages {
    display: flex;
    justify-content: space-between;
  }

  .languages h2 {
    color: #253858;
    height: 24px;
    top: 24px;
    left: 12px;
  }

  .languages h2 i {
    color: #253858;
    height: 24px;
    padding-top: 8px;
    padding-bottom: 8px;

    padding-left: 5px;
    padding-right: 5px;
    gap: 2px;
  }

  .language-list li h2 {
    color: #253858;
    font-size: 21px;
    font-weight: 600;
  }

  .frames {
    margin-top: 10px;
  }

  .frames li span {
    color: #253858;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    font-size: 15px;
    gap: 10px;
    justify-content: space-between;
  }

  .frames li i {
    padding-right: 35px;
  }

  .footer_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 800px;
    background-color: #6070ff;
    background-image: url(./images/contact\ form\ shapes-mobile.svg);
    background-repeat: no-repeat;
    margin-top: 300px;
    background-size: contain;
    background-position: right;
    border-top-left-radius: 120px;
  }

  .footer_container {
    padding: 20px;
    padding-top: 200px;
  }

  .footer_header {
    margin-top: -4rem;
    color: #fff;
    margin-left: 12%;
  }

  .footer_section p {
    justify-content: center;
    color: #fff;
    font-weight: 20px;
    margin-left: 5%;
    width: 80%;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin-top: 30px;
  }

  .input-text {
    box-sizing: border-box;
    font-weight: 400;
    color: rgba(23, 43, 77, 1);
    border-radius: 8px;
    width: 100%;
    padding: 8px 12px;
    height: 48px;
    outline: none;
    font-size: 17px;
    line-height: 20px;
    background: #fff;
    border: 1px solid #cfd8dc;
  }

  .message {
    height: 170px;
    width: 100%;
    padding-bottom: 7rem;
    padding-left: 0.6rem;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    border-radius: 8px;
    outline: none;
    border: 1px solid #cfd8dc;
    margin-bottom: 0.6rem;
  }
}
